<input type="text" [(ngModel)]="massage"> //bind data
<br>
<h1>String interpolation</h1>
{{massage}}
<br>
<h1>String interpolation with inbuilt function</h1>
{{massage.toUpperCase()}}
<br>
{{massage.toLowerCase()}}
<br>
<h1>Concatination String interpolation</h1>
{{"Hello " + massage}}
<br>
<h1>calling function using String interpolation</h1>
{{fun()}}
<br>
<h1>calculation with String interpolation  //assignment is not allowed</h1>
{{3*3}}
